*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/headphones_hero_1.jpg);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    
    
}
main{
    width: 1000px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 30px 150px;
    
}
ul{
    display: flex;
    list-style-type: none;
    
}
li{
    margin-left: 30px ;
    
}
li a{
    text-decoration: none;
    color: white;
}
.first-div{
    text-align: center;
    color: white;
    margin-top: 17rem;
    line-height: 1.5;
}
h1{
    font-size: 30px;
}
button{
    border-radius: 40px;
    height: 2rem;
    width: 10%;
    color: white;
    background-color: rgb(241, 125, 112);
    border: none;
    margin-top: 4rem;
}
.p-1{ 
 text-align: center;
 color: white;
 margin-top: 40px;
 font-size: 20px;
 font-weight: lighter;

}
.img{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7rem;
    line-height: 2;
}
h2{
    margin-bottom: 70px;
}

.what-we-do{
    text-align: center;
    margin-top: 12rem;
    font-size: 20px;
}
.icon{
    margin-bottom: 50px;
}

@media (max-width: 2000px) {
    main {
        width: 100%;
    }
}


@media (max-width: 1168px) {
    main {
        width: 100%;
    }
}


@media (max-width: 700px) {
    main {
        width: 100%;
    }
}
