
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
        background-image: url(CSS-Advanced/Object.png);  
        
        background-repeat: no-repeat;
        overflow-x: hidden; /* Use if absolutely necessary */
        margin: 0;
        padding: 0;
}

.logo{
    color: white;
    
      
}

.Schooled{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    position: relative;
    top: 6rem;
    font-size: 80px;
    color: white;
    margin-left: 30rem;

}
button{
    position: relative;
    top: 15rem;
    right: 31rem;
    background-color:fuchsia;
    height: 40px;
    border: 50px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    width: 200px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
li{
    display: inline-block;
    list-style: none;
}
*{
    
}
li a{
    margin-right: 70px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.smile{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10rem;
    
}
span{
    color: fuchsia;
}
h2{
    position:relative;
    left: 37rem;
    top: 18rem;
    color: gray;
}
.author{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 23rem;
    border-image: round;
    color: white;
    
}
.P-2{
    font-style: italic;
    margin-left: 15px
}
#bruce{
    border-radius: 50%;
}
.bruce{
    margin-left: 30px;
}
.henry{
    margin-left: 20px;
}

.quote{
    background-color: fuchsia;
}

  
  
  
